/* CSS Plugins */
@import "./plugins/bootstrap.min.css";
@import "./plugins/font-awesome.css";
@import "./plugins/magnific-popup.css";
@import "./plugins/simplebar.css";
@import "./plugins/owl.carousel.min.css";
@import "./plugins/owl.theme.default.min.css";
@import "./plugins/jquery.animatedheadline.css";
/* CSS Base */
@import "./style-dark.css";
/* Settings Style */
@import "./settings/left-nav.css";
@import "./settings/green-color.css";
@import "./settings/circle-box.css";

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/*
html,
body {
	/* padding: 0;
	margin: 0; 
	font-family: "Poppins" -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
	color: red !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
} */
